/*header*/
#menu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b5f1e7;
    overflow: hidden;
}

#header li{
    float : left;
}

#header li a {
    display: block;
    color: rgb(8, 8, 8);
    padding: 14px 16px;
    text-decoration: none;
    text-align :center;
}
 
#header li a:hover {
    background-color: rgb(30, 92, 84);
    color: white;
}

#logo{
    text-align: center;
}

#logoImage
{
    width : 200px;
    height : 100px;
}

h1
{
    text-align:center;
    font-size: 40px;
    background-color: rgb(145, 148, 198);
    font-style: oblique;
}

p
{
    font-size: 20px;
    font-style: Time;
}

.normal
{
    font-size: 20px;
}

.blocs
{
    border-style: groove;
    border-color: rgb(170, 114, 223);
    border-width: thick;
    width : 100%;
    margin: auto;
}

#contact,#cartes
{
    background-color:rgb(255, 255, 255);
}

.lien
{
    text-align: center;
}
.lien a
{
    font-size: 20px;
}
