/*header*/
#menu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b5f1e7;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#header li{
    float : left;
}

#header li a {
    display: block;
    color: rgb(8, 8, 8);
    padding: 14px 16px;
    text-decoration: none;
    text-align :center;
    font-size: 14px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
 
#header li a:hover {
    background-color: rgb(30, 92, 84);
    color: white;
}

#logo{
    padding-top: 10%;
    text-align: center;
}

#logoImage
{
    width : 400px;
    height : 30%;
}

h1
{
    text-align:center;
    font-size: 30px;
    background-color: rgb(145, 148, 198);
    font-style: oblique;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p
{
    font-size: 15px;
    font-style: Time;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.normal
{
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.blocs
{
    border-style: groove;
    border-color: rgb(170, 114, 223);
    border-width: thick;
    width : 100%;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

#contact,#cartes
{
    background-color:rgb(145, 148, 198);
}

.lien
{
    text-align: center;
}

.lien a
{
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
